@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css')
      format('truetype');
  font-display: swap;
}

.display1 {
  font-weight: 700;
  font-size: 3.75rem;
}
.display2 {
  font-weight: 700;
  font-size: 3rem;
}

.title1 {
  font-weight: 700;
  font-size: 2.5rem;
}
.title2 {
  font-weight: 600;
  font-size: 2rem;
}
.title3 {
  font-weight: 700;
  font-size: 2rem;
}
.title4 {
  font-weight: 800;
  font-size: 1.75rem;
}
.title5 {
  font-weight: 600;
  font-size: 1.5rem;
}
.title6 {
  font-weight: 700;
  font-size: 1.5rem;
}
.title7 {
  font-weight: 500;
  font-size: 1.375rem;
}

.body1 {
  font-weight: 700;
  font-size: 1.25rem;
}
.body2 {
  font-weight: 500;
  font-size: 1.25rem;
}
.body3 {
  font-weight: 700;
  font-size: 1.125rem;
}
.body4 {
  font-weight: 500;
  font-size: 1.125rem;
}

.label1 {
  font-weight: 500;
  font-size: 1rem;
}
.label2 {
  font-weight: 500;
  font-size: 1rem;
}
.label3 {
  font-weight: 700;
  font-size: 0.875rem;
}
.label4 {
  font-weight: 600;
  font-size: 0.875rem;
}
.label5 {
  font-weight: 600;
  font-size: 0.875rem;
}
